<div class="container">
  <div class="head">
    <p>Create/Update Post Room</p>
  </div>
  <div class="form-container">
    <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
      <label
      >Post Photo
      <input formControlName="roomPhoto" type="file" />
    </label>
      <label
        >Post Topic
        <input formControlName="roomTopic" type="text" />
      </label>
      <label
        >Post Name
        <input formControlName="roomName" type="text" />
      </label>
      <label
        >Post Description
        <textarea formControlName="roomDescription"></textarea>
      </label>
    </form>
    <div class="buttons">
      <button [routerLink]="'/feed'" >Cancel</button>
      <button (click)="onSubmit()" type="submit">Submit</button>
    </div>
  </div>
</div>
