<div *ngIf="(user | async) as user" class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    <app-topics></app-topics>
    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img [src]="user.avatar" />
          </div>
        </div>
        <!-- {% if request.user.id == user.id %} -->
        <div class="profile__info">
          <h3>{{ user.name }}</h3>
          <p>{{user.email}}</p>
          <a href="" class="btn btn--main btn--pill">Edit Profile</a>
          <!-- {% url "update-user" %} -->
        </div>
        <!-- {% endif %} -->
        <div class="profile__about">
          <h3>About</h3>
          <p>{{user.bio}}</p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Post Rooms Hosted by {{user.name}}</h2>
        </div>
      </div>
      <app-feed [showTopicsAndActivity]="false" [selectedProfileFeed]="user.id"></app-feed>
      <!-- Room List End -->
    </div>
    <!-- Activities Start -->
    <app-activity></app-activity>
  </div>
</div>
