<div *ngIf="topics | async" class="topics">
  <div class="topics__header">
    <h2>Browse Topics</h2>
  </div>
  <div class="topic-list">
    <a (click)="filterBytopic('All')" class="active">All <span>{{countAll}}</span></a>
    <div *ngFor="let topic of topics | async">
      <a (click)="filterBytopic(topic.topic.name)" class="active"
        >{{ topic.topic.name }} <span>{{ topic.count }}</span></a
      >
    </div>
    <a class="btn btn--link" href="">
      <!-- url "topics" %} -->
      More
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
      >
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
  </div>

  <!-- {% url 'home'%}?q={{topic.topic}} -->

</div>
