.topics{
  padding-top: 20px;

  h2{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-dark-light);
    margin-bottom: 30px;
  }
  .topic-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    a,span{
      display: flex;
      cursor: pointer;
    }
    a{
      
      width: 150px;
      justify-content: space-between;
      color: var(--color-main);
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      font-size: 15px;
      
    }
    span{
      width: 20px;
      height: 25px;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 1px;
      border-radius: 3px;
      background-color: var(--color-dark);
    }
    >a:last-child{
      justify-content: flex-start;
    }
  }
}