<div class="container">
  <div class="head">
    <p>Create/Update Study Room</p>
  </div>
  <div class="form-container">
    <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
      <label
        >Room Topic
        <input formControlName="roomTopic" type="text" />
      </label>
      <label
        >Room Name
        <input formControlName="roomName" type="text" />
      </label>
      <label
        >Room Description
        <textarea formControlName="roomDescription"></textarea>
      </label>
    </form>
    <div class="buttons">
      <button>Cancel</button>
      <button (click)="onSubmit()" type="submit">Submit</button>
    </div>
  </div>
</div>
